<h2>Lista dos meus contatos</h2>
<div class="row">
  <form method="post" action="/contato">

    <div class="col-5">
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Nome:</label>
        <input type="text" class="form-control" name="name" placeholder="Digite seu nome">
      </div>
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Email:</label>
        <input type="email" class="form-control" name="email" placeholder="name@example.com">
      </div>

      <input type="submit" value="Cadastrar" class="btn btn-primary">

    </div>


  </form>



  <a href="/">Home</a>
</div>
